@model Proyecto.Models.Tb_Usuarios

@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="notifications top-right"></div>
<div class="wrapper">
    <div class="page-wrapper">
@using (Html.BeginForm("RecuperarContrasenia", "Home", FormMethod.Post, new { @class = "text danger" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 validation-summary-errors" >
       <script>
           

           var mensaje = "@ViewBag.messaje";
           if (mensaje != "") {
               alertify.error(mensaje);
           }

       </script>
              
             @Html.ValidationSummary(true,"",new {@class= "alert alert-error" })
           
        </div>

    </div>
        <div id="login-hidden" style="display: none;">
            <div class="log-in-wrapper">
                <img style="display:block;margin:0 auto;" src="~/assent/img/logo-login.png" />
                <h1 class="log-in-title">Recuperar contraseña<br><small>Introduzca su dirección de correo electrónico para restablecer la contraseña<small></h1>
                <form>
                    <div class="form-group color">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "Ingrese su correo" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <input type="submit"  value="Enviar" class="btn btn-transparent btn-lg btn-transparent-primary btn-block" />
                    <ul class="login-bottom-links">
                        <li><a href="/Home/Login">Regresar al inicio de sesión</a></li>
                    </ul>
                </form>
            </div>
        </div>
}
    </div>

</div>



