@model Proyecto.Models.Tb_Tipo_Documento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>TIPO DOCUMENTO</h1>

            </div>
        </div>
    </div>
</header>
<br />

<script>

    var edito = "@ViewBag.edito";

    if (edito == "edito") {

        swal({ title: "ACTUALIZACÓN EXITOSA!", text: "Tipo de Documento Actualizado correctamente", type: "success", showConfirmButton: true }, function () { location.href = '/Tb_Tipo_Documento/Index' });

    }

</script>


<script src="~/Scripts/Validation.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="widget widget-default">
                <div class="widget-header">Modificar tipo de documento</div>
                <div class="widget-body">

                    <div class="form">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Codigo)

                        <div class="col-md-offset-3 form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="nom">Nombre *</label>
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control validate-number" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                <input  onclick="return valtipodo1();" type="submit" value="GUARDAR" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<script>
 function valtipodo1() {

        valor = document.getElementById("Codigo").value;
        //doc = document.getElementById("Tipo_Documento").selectedIndex;

        nom1 = document.getElementById("Nombre").value;




        //sucur = document.getElementById("Sucursal").selectedIndex;



        //rol = document.getElementById("Rol").selectedIndex;


        if (valor== "" ||   nom1== "" ) {

            sweetAlert("¡ERROR!", "Debe diligenciar los campos obligatorios!", "error");

            return false;
        } s

    }
</script>