@model IEnumerable<Proyecto.Models.Tb_Sucursales>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>SUCURSALES<small>CONSULTAR</small></h1>

            </div>
        </div>
    </div>
</header>
<br />


<div class="container-fluid">

    <div class="row">

        <div class="col-md-11 col-xs-12">
            <div class="widget widget-default">
                <header class="widget-header">
                   SUCURSALES
                </header>
                <div class="widget-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.NIT)</th>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.Apodo)</th>
                                <th>@Html.DisplayNameFor(model => model.Prefijo)</th>
                                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                                
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
@foreach (var item in Model)
{
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NIT)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Apodo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Prefijo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                
                                <td class="text-right"><button class="btn btn-transparent btn-xs"><span class="fa fa-pencil"></span><span class="hidden-xs hidden-sm hidden-md"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Codigo })</button> <div class="btn btn-transparent btn-transparent-danger btn-xs"><span class="fa fa-trash-o"></span>  <span class="hidden-xs hidden-sm hidden-md">@Html.ActionLink("Delete", "Delete", new { id = item.Codigo })</span></div></td>
                            </tr>
                           
}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>

        
