@model Proyecto.Models.Tb_Clientes

@{
    ViewBag.Title = "Delete";


    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>CLIENTES</h1>
                <h3>Desea borrar este registro?</h3>
            </div>
        </div>
    </div>
</header>



<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupo_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupo_activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Tipo_Documento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Tipo_Documento.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
