@model Proyecto.Models.Tb_Productos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>PRODUCTOS</h1>

            </div>
        </div>
    </div>
</header>
<br />
<script src="~/Scripts/Validation.js"></script>

<script>
    var hola = "@ViewBag.res";
    if(hola == "Correcto"){
        swal({ title: "¡ACTUALIZACIÓN EXITOSA!", text: "Producto actualizado correctamente", type: "success", confirmButtonText: true }, function () { location.href = "/Tb_Productos/Index/"});
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="container-fluid">
        <div class="col-md-12">
            <div class="widget widget-default">
                <div class="widget-header">Modificar producto</div>
                <div class="widget-body">

                    <div class="form">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="cod">Código *</label>
                            @Html.EditorFor(model => model.Codigo_producto,"Codigo", new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Codigo_producto, "", new { @class = "text-danger" })

                        </div>


                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="ref">Referencia *</label>
                            @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="des">Descripción *</label>
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label" Text="estado">Estado *</label>
                            <select class="form-control" id="Estado" name="Estado" >
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="tipo">Tipo producto *</label>

                            @Html.DropDownList("Tipo_Producto", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Tipo_Producto, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="cant">Cantidad *</label>

                            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control validate-character"  } })
                            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-6">
                            <label id="lblid" class="control-label labels" Text="prec">Precio *</label>

                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control validate-character" } })

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                <input onclick="return valprodu1();" type="submit" value="Guardar" class="btn btn-primary" />
                            </div>

                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

    </div>
}




<script>
    window.onload = function () {
        var cod = $('#Codigo_producto').val();
        var datos = { 'Id': cod }
        $.ajax({
            'url': '/Tb_Productos/Consul',
            'dataType': 'json',
            'type': 'post',
            'contentType': "application/json; charset=utf-8",
            'data': JSON.stringify(datos)
        }).done(function (respuesta) {
            $('#Estado').val(respuesta);
            var num2 = $('#Precio').val();
            num2 = num2.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
            num2 = num2.split('').reverse().join('').replace(/^[\.]/, '');
            $('#Precio').val(num2);
            $('#Codigo_producto').attr("disabled", "disabled");
            $('#Referencia').attr("disabled", "disabled");
        })
    }

 function valprodu1() {

     valor = document.getElementById("Referencia").value;
     //doc = document.getElementById("Tipo_Documento").selectedIndex;

     nom1 = document.getElementById("Descripcion").value;
     ape1 = document.getElementById("Estado").value;
     //ape2 = document.getElementById("Tipo_Producto").value;
     tel = document.getElementById("cantidad").value;
     cel = document.getElementById("Precio").value;


        //sucur = document.getElementById("Sucursal").selectedIndex;



        //rol = document.getElementById("Rol").selectedIndex;


        if (valor== "" ||   nom1== "" || ape1== "" ||tel=="" || cel==""  ) {

            sweetAlert("¡ERROR!", "Debe diligenciar los campos obligatorios!", "error");

            return false;
        } else {

            var pre = $('#Precio').val().toString();
            pre = pre.replace(".", "");
            $('#Precio').val(pre);
            $('#Codigo_producto').removeAttr("disabled");
            $('#Referencia').removeAttr("disabled");


        }

    }
</script>