@model IEnumerable<Proyecto.Models.Tb_Abonos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header-heading"><span class="typcn typcn-clipboard page-header-heading-icon"></span>ABONOS CRÉDITO</h1>
            </div>
        </div>
    </div>
</header>

<br />

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 col-xs-12">
            <div class="widget widget-default">
                <header class="widget-header">
                    CONSULTAR ABONOS
                </header>
                <div class="widget-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <label id="lblid" class="control-label labels">ID</label>
                                </th>
                                <th>
                                    <label id="lblid" class="control-label labels">Fecha</label>
                                </th>
                                <th>
                                    <label id="lblid" class="control-label labels">Crédito</label>
                                </th>
                                <th>
                                    <label id="lblid" class="control-label labels">Valor</label>
                                </th>
                                <th>
                                    <label id="lblid" class="control-label labels">Estado</label>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tb_Creditos.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td class="text-right"><button class="btn btn-transparent btn-xs"><span class="fa fa-pencil"></span><span class="hidden-xs hidden-sm hidden-md"></span>@Html.ActionLink("Editar", "Edit", new { id = item.Codigo })</button><button class="btn btn-transparent btn-xs" style="border-color:red; "><span class="fa fa-trash-o"></span> <span class="hidden-xs hidden-sm hidden-md">@Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })</span></button></td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                   

                </div>
            </div>
        </div>
    </div>
